# Default ignored files
/../../../../../../../NITRO5~1/AppData/Local/Temp/Rar$DRa8872.5516/market/.idea/shelf/
/../../../../../../../NITRO5~1/AppData/Local/Temp/Rar$DRa8872.5516/market/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../NITRO5~1/AppData/Local/Temp/Rar$DRa8872.5516/market/.idea/httpRequests/
